
<section id="banner">

    <div id="topic" >
      <h1>Filmes ilimitados, Programa de TV e mais</h1>
      <h3>Assista, em qualquer lugar!</h3>
    </div>
    <div class="container-fluid testimonial-group">
      <div class="row flex-nowrap">
          <div *ngFor="let movie of movies" class="col-sm-2">
            <div class="card" (click)="itemClicked(movie.id)">
              <img src="https://image.tmdb.org/t/p/w500/{{movie.backdrop_path}}" class="card-img-top" >
              <div class="card-body" >
                <p class="card-text">{{movie.title|uppercase}}</p>
              </div>
            </div>
          </div>
         
      </div>
  </div>
  </section>